@model comp2139_lab3_wednesday.Models.Contact

@{
    if (ViewBag.Action == "Add")
    {
        ViewBag.Title = "Add Contact";
        <h2>Add Contact</h2>
    }
    else
    {
        ViewBag.Title = "Edit Contact";
        <h2>Edit Contact</h2>
    }
}

<form asp-action="Edit" asp-controller="Contact">
    <label for="fName">First Name: </label>
    <br />
    <input type="text" name="fName" />
    <br />
    <label for="lName">Last Name: </label>
    <br />
    <input type="text" name="lName" />
    <br />
    <label for="Phone">Phone: </label>
    <br />
    <input type="text" name="Phone" />
    <br />
    <label for="Email">Email: </label>
    <br />
    <input type="text" name="Email" />
    <br />
    <label for="Category">Category</label>
    <br />
    <input type="text" name="Category" />
    <br />
    <label for="Organization">Organization: </label>
    <br />
    <input type="text" name="Organization" />
    <br />

</form>

